{
	"printWidth": 120,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 1
			}
		}
	]
}
